<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="renderer" content="webkit"/>
  <title>随你定制管理后台</title>
  {% include "base/css.html" %}
  {% block css %}

  {% endblock %}
  {% include "base/js.html" %}
</head>
<body>
  <!-- Nav -->
  <nav class="px-nav px-nav-left">
    {% include "base/menu.html" %}
  </nav>

  <!-- Navbar -->
  <nav class="navbar px-navbar">
    {% include "base/top.html" %}
  </nav>

  <!-- Content -->
  <div class="px-content">
    <ol class="breadcrumb page-breadcrumb">
      {% block breadCrumb %}

      {% endblock %}
    </ol>
    <div class="page-header content-header">
      {% block contentHeader %}

      {% endblock %}
    </div>

    <div class="content">
      {% block message %}
        {% for message in messages %}
        <ul class="alert alert-{{message.tags}} dmsg">
          <p> {{ message | safe }} </p>
        </ul>
        {% endfor %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% include "base/footer.html" %}
  {% block script %}

  {% endblock %}
</body>
</html>
