<link href="https://fonts.proxy.ustclug.org/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">

<!-- Core stylesheets -->
<link href="/static/pixel/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/pixel/css/pixeladmin.min.css" rel="stylesheet" type="text/css">
<link href="/static/pixel/css/widgets.min.css" rel="stylesheet" type="text/css">

<link href="/static/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/dist/css/custom.css" rel="stylesheet" type="text/css">

<!-- Theme -->
<link href="/static/pixel/css/themes/clean.min.css" rel="stylesheet" type="text/css">

<link rel="shortcut icon" type="image/x-icon" href="/static/img/icon.jpg" />