<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/footable/css/footable.core.css" rel="stylesheet">
<link href="/static/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="/static/plugins/toast-master/css/jquery.toast.css" rel="stylesheet" />
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
