<aside class="left-sidebar">
  <div class="scroll-sidebar">
  <div class="user-profile">
    <div class="profile-img"> <img src="/static/images/users/profile.png" alt="user" />
      <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
    </div>
    <div class="profile-text">
      <h5>随你定制</h5>
    </div>
  </div>
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li class="nav-devider"></li>
      <li class="nav-small-cap">PERSONAL</li>
      <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Sample Pages <span class="label label-rouded label-success pull-right">25</span></span></a>
        <ul aria-expanded="false" class="collapse">
          <li><a href="javascript:;">Profile page</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
</aside>
