<button type="button" class="px-nav-toggle" data-toggle="px-nav">
  <span class="px-nav-toggle-arrow"></span>
  <span class="navbar-toggle-icon"></span>
  <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

<ul class="px-nav-content">
  <li class="px-nav-item px-nav-dropdown conference">
    <a href="#">
      <i class="fa fa-diamond"></i>&nbsp;
      <span class="px-nav-label">会议管理</span>
    </a>

    <ul class="px-nav-dropdown-menu">
      <li class="conference_list px-nav-item">
        <a href="#">
          <i class="fa fa-circle-o"></i>&nbsp;
          <span class="px-nav-label">会议列表</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="px-nav-item px-nav-dropdown center">
    <a href="#">
      <i class="fa fa-dashboard"></i>&nbsp;
      <span class="px-nav-label">物料管理</span>
    </a>

    <ul class="px-nav-dropdown-menu">
      <li class="px-nav-item sms-balance-list">
        <a href="#">
          <i class="fa fa-circle-o"></i>&nbsp;
          <span class="px-nav-label">短信账户</span>
        </a>
      </li>
    </ul>
  </li>
</ul>