<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon.ico">

  {% include "base/css.html" %}
  {% block css %}

  {% endblock %}
  {% include "base/js.html" %}
  <![endif]-->
</head>

<body>
<div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>
<section id="wrapper">
  {% for message in messages %}
    <ul class="alert alert-{{ message.tags }}">
      <p> {{ message }} </p>
    </ul>
  {% endfor %}
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body">
        <form class="form-horizontal" id="loginform" action="{% url 'login' %}" method="post">
          <h2 class="box-title" style="text-align:center;">登录</h2>
          {% csrf_token %}
          <input name="back_url" type="hidden" value={{ back_url }}>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" name="name" placeholder="账号"></div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="password" name="password" placeholder="密码"></div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">登录
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
